<h4>Comments</h4>

<% @blog.comments.each do |comment| %>
<div>
  <strong>
    <%= comment.body %>
  </strong>
  <p>
    by <%= comment.user.name %> at <%= comment.created_at.strftime("%Y/%m/%d") %>
    <% if comment.user == current_user %>
      <%= link_to "Delete", blog_comment_path(@blog, comment), method: :delete, remote: true %>
    <% end %>
  </p>
</div>
<% end %>
