body {
  background: antiquewhite;
}

.main-contents{
  width:700px;
  min-height:300px;
  color : #000000;
  margin-right: auto;
  margin-left : auto;
  margin-top:1.5%;
  margin-bottom: 1.5%;
  background-color :#ffffff;
  font-size: 1.2em;
  line-height: 1.5em;
  border-radius: 15px;
  text-align: center;
}

.errors {
  color: red;
  font-size: 1.2em;
  text-align: left;
}